<html lang="en">

<head>
{{>header}}
</head>


<body class="container">
    <div class="label-info">{{title}}</div>
    <div class='panel-heading'>{{subject}}</div>
    <div class='panel-heading'>{{review}}</div>

</body>

</html>