<html lang="en">

<head>
{{>header}}
</head>


<body class="container">
    <div class="label-info">{{title}}</div>
    <div class='panel-heading'>{{subject}}</div>
    <div class='panel-heading'>{{review}}</div>

    {{#list}}
    <div class="panel panel-default">
          <div class="panel-heading">
              {{subject}}
          </div>
          <div class="panel-body">
              {{review}}
          </div>
     </div>
{{/list}}

</body>

</html>