<!DOCTYPE html>
<html lang="en">
<head>
{{>header}}
</head>
<body>
    <h1>Guest Book</h1>
    <div>{{subject}}</div> 
    <div>{{review}}</div> 
    <div>
    {{#visitors}}
        <div>{{name}}</div>
    {{/visitors}}
    </div>   
</body>
</html>